<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="assets/card1.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        
                        <p class="h3">CNC Machine Tool </p>
                       
                        
                        <p>Machine Learning and Time Series Analysis, maintenance engineers can prevent defects
                            from getting Tool to wearing condition, all while reducing the resources required...</p>
                        <button class="btn btn-success btn-md" routerLink="/cncdata">Select</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="assets/card2.jpg" alt="" class="img-fluid">
                    <div class="card-body ">
                        <p class="h3">Engine Predictive</p>
                        <p>Machine Learning Mainatainance Model,for health prediction is use to predict the health of
                            the engine can prevent engine from getting failed,while reducing the resources required...
                         </p>
                        <button class="btn btn-success btn-md">Select</button>
                    </div>
                </div>
            </div>


            <div class="col-md-4 me-10">
                <div class="card shadow-lg">
                    <img src="assets/card3.jpg" alt="" class="img-fluid">
                    <div class="card-body ">
                        <p class="h3">Customer Churn</p>
                        <p>Identify and categorise customer into different types of segments of churn possibility and provide
                             recommendations to minimise the percentage of the churn...  </p>
                        <button class="btn btn-success btn-md">Select</button>
                    </div>
                </div>
            </div>
            

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="assets/card4.jpg" alt="" class="img-fluid">
                    <div class="card-body ">
                        <p class="h3">Service Propensity Model</p>

                        <p>Providing List of Customers due for Service in month sorted based on highest to
                            lowest probability of converting the opportunity to Business – Concentrating on Engine 
                            Upkeep Services focussing on Engines...</p>
                        <button class="btn btn-success btn-md">Select</button>
                    </div>
                </div>
            </div>

            

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="assets/card5.jpg" alt="" class="img-fluid">
                    <div class="card-body ">
                        <p class="h3">Route plan for Service Engineers </p>
                        <p>To identify the optimum route plan for Service Engineers to Maximise Productivity and
                         Efficiency, and Minimise Turn Around Time of SR Closure and the Idle Time of the Engine...    </p>
                        <button class="btn btn-success btn-md">Select</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <img src="assets/card6.jpg" alt="" class="img-fluid">
                    <div class="card-body ">
                        <p class="h3">Market Basket Analysis</p>
                        <p>To identify the optimum route plan for Service Engineers to Maximise Productivity and
                         Efficiency, and Minimise Turn Around Time of SR Closure and the Idle Time of the Engine...    </p>
                        <button class="btn btn-success btn-md">Select</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>