<div class="main">
<h1>Predict/Forecast Expected Tool Wear</h1>
<div class="img-list">
    <img src="assets/img1.png" height="90%" width="60%">
    <img src="assets/img2.png" height="417px" class="img2">
</div>
<div class="pie">
  <img src="assets/img3.png"  class="img3">
</div>
<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
    <li [ngbNavItem]="1">
      <a ngbNavLink><b>Overview</b></a>
      <ng-template ngbNavContent>
        <div class="para"> 
          <h2><b>Description</b></h2>
          <h5>CNC Milling Machine</h5>
          <p>In the System-level Manufacturing and Automation Research . Machining data was collected from a CNC
             machine for variations of tool condition, feed rate, and clamping pressure.</p>
             <p>Feed Rate is one of the most important factors to consider when implementing any CNC strategy. 
              Simply put, feed rate is the speed at which the cutter engages the part and is typically measured in
               units/minute. Suggested cut feed rates will vary depending on the type of material you are cutting 
               (i.e., aluminum, steel, wood, acrylic, etc.), the material of the cutter (carbide, high speed steel,
                ceramic, etc.) and many other cutting factors including desired surface and the characteristics of 
                the CNC machine itself.</p>
                <h5>Clamping pressure</h5>
                <p>When the cnc machining tool is designed with a clamping device, the determination of the clamping force includes three factors:

                  1. the direction of the clamping force
                  2.the point of action
                  3.size</p>

                
        </div>
        
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink><b>Tech Implementation</b></a>
      <ng-template ngbNavContent>
        <div class="para">
          <h5>About the Data</h5>
          <p>For predicting the tool wear as well as visualizing the tool condition with time advancements. This solution uses machine learning algorithms for predicting & lightgbm, holoviews for visualization.
            This initiative aims to provide an effective and robust automated approach to detect and classify defects. The data includes features as well as the past data of tool condition.
            We use Random-Forest as well as other models for evaluating the performance, Data visualization (especially using bokeh via holoviews).
            </p>

            <h5> Problem Framing</h5>
            <p>For this use case, we create a model that predicts the defect class. Each record in the data represents a unique tool condition.
              The target variable for this use case is to classify whether a CNC Tool falls into two different classifications of defects. This choice in target makes this a Binary-class classification problem.
              Some features we use here are feed rate, clamp pressure, spindle axis, X, Y, Z, S.
              </p>
              <h6>1.	Feed rate</h6>
              <p>Feed Rate is one of the most important factors to consider when implementing any CNC strategy. Simply put, feed rate is the speed at which the cutter engages the part and is typically measured in units/minute. Suggested cut feed rates will vary depending on the type of material you are cutting (i.e., aluminum, steel, wood, acrylic, etc.), the material of the cutter (carbide, high speed steel, ceramic, etc.) and many other cutting factors including desired surface and the characteristics of the CNC machine itself.</p>
              <h6>•	Clamping pressure</h6>
              <p>When the cnc machining tool is designed with a clamping device, the determination of the clamping force includes three factors:
                •	the direction of the clamping force
                •	the point of action
                •	Size
                
                to use the sensor signals from the CNC machine to detect if a cutting tool being used is worn out. Theoretically this allows the CNC operator to detect in real time that the cutting tool is worn out in order to take corrective action prior to the resultant part ending in a quality failure.</p>

                <p>Beyond the given features, we suggest incorporating any additional data your organization may collect that could be relevant to defect detection. TtAI is able to combine any numeric, categorical, text, date features with images, and use them to collectively improve the accuracy of your models. TtAI will quickly inform you of which features are important or unimportant, allowing you to iterate your feature list along the way.   </p>

                <h5>Sample Feature List</h5>
                <div class="table">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Description</th>
                      <th scope="col">Data Types</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td> Actual Position </td>
                      <td>float</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td> Actual Velocity</td>
                      <td>float</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td> CURRENT_FEEDRATE </td>
                      <td>float </td>
                      
                    </tr>
                
                <tr>
                      <th scope="row">4</th>
                      <td> Machining Process </td>
                      <td>object</td>
                      
                    </tr>
                
                <tr>
                      <th scope="row">5</th>
                      <td> CURRENT PROGRAM NUMBER
                </td>
                      <td>float </td>
                      
                    </tr>
                
                  </tbody>
                </table>
              </div>
                
        <h5>Data Preparation</h5>
        <p>The dataset is made of a CSV file and folders containing features. Here are the steps needed to prepare the data for modeling:
          •	Create a Tool wear folder
          •	Add all the files
          •	Create a CSV file containing the target column (defect class)
          •	Add a column to the CSV file should be associated with the corresponding defect class of the tool failure data (train).
          •	Drag and drop, or upload, your csv file into TtAI.
          </p>
          <h5>Model Training</h5>

          <p>TtAI allows both novice and expert users to quickly and easily build explainable machine learning models using Data. Simply upload a csv file into TtAI to prepare to build new custom models to classify   CNC tool failure with prediction and forecasting with help of other feature types like numeric, categorical to provide a broader set of data perspectives to your AI models.  
            You can get started with TtAI with just a few Data in csv format and train models only using commodity hardware.
            </p>

            <h5>Interpret the Results</h5>
            <p>In interpreting the model, several important questions include:
              •	Can you trust the model? 
              •	Does the model Understood by layman?
              
              With TtAI, you can now visually assess your models using insight capabilities:
              TtAI  uses supervised machine learning model for this approach. With the data integration we provide two solution for this type of data as visualization and prediction play more important role in detecting and forecasting the tool condition.
              
              Step 1 : get insights of the data 
              Step 2 : Remove extensive outliers using (IQR,Z-score)
              Step3: check pair plot for data distribution and skewness
              
              
              </p>
              <h6>Graph represents relation of machine process to the current feed rate</h6>
              <img class="graphs" src="assets/g1.png">

              <h6 style="margin-left: 30rem;
              margin-top: 40px;">Graph represents actual accereletion and actual velocity with target value</h6>
              <img style="margin-left: 30rem;
              margin-top: 10px;" class="graphs" src="assets/g2.png">


              <h6 style="margin-top: 40px;">Feature importance graphical representation.</h6>  
              <img class="graphs" src="assets/g3.png">

              <h6 style="margin-left: 30rem;
              margin-top: 40px;">Tool condition (worn or unworn)</h6>
              <img style="margin-left: 30rem;
              margin-top: 10px;" class="graphs" src="assets/g4.png">

              <h6 style="margin-top: 40px;">Type 1 error and Type 2 error plotting at every threshold.</h6>  
              <img class="graph" src="assets/g5.png">

              <h5>Evaluate Accuracy</h5>
              
                <p>TtAI also allows you to evaluate the model's accuracy in predicting the various classes of defects. A quick look at the confusion matrix for the recommended model shows that the model is performing accurately, with a limited number of CNC tool that are being misclassified.
                
                 
                </p>
                <img  src="assets/mat.png">
              
             
            </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink><b>Data Insights</b> </a>
      <ng-template ngbNavContent>
        <button type="button" class="btn btn-success">ML Model Prediction Report</button>
        <iframe src="assets/profile.html" height="6200px" width="95%"></iframe>
        <button type="button" class="btn btn-info">Time Series Forecasting</button>
        <div class="forecasting">
        <iframe src="assets/cncforecasting.html" height="47763px" width="95%"></iframe>
      </div>
      </ng-template>
    </li>
    
    <li [ngbNavItem]="4">
        <a ngbNavLink><b>Conclusion</b> </a>
        <ng-template ngbNavContent>
          <div class="para">
            <p>From the dataset prediction of tool wear is done & with the help of machine learning models we are able to get accuracy between 96% to 98% with the hyper-parameter tunning.
              The focus was on the Harmonic mean of presion and Recall (F1 score).</p>
            <h5>Machining Finalized</h5>
            <p>X-axis and Y-axis data have a great influence to tool wears, and the movement of X-axis and Y-axis can have a bad effect to machining process.
              Position and voltage have a large influence in the given data.
            </p>
            <h5>Tool Wear</h5>
            <p>X-axis and S-axis data have a great influence to tool wear.
              Velocity and voltage have a large influence in the collected data.
              A certain number of features created by FFT are also included in the top of feature importances, and it is considered that tool wear increased the amplitude in the specific frequency range.
              </p>
              <h5>Passed Visual Inspection</h5>
              <p>X-axis and Y-axis data have a great influence to tool wears, and the movement of X-axis and Y-axis may be a bad affect to machining process.
                Velocity and voltage have a large influence in the collected data.
                The importance of features created by FFT increased compared to Machining Finalized case.
                It is considered that the influence of tool weariness to the specific frequency range is related to an external processing result that can be detected by Machine operator.
                </p>
                <h5>Others</h5>
                <p>There is almost less importance in Z-axis data.
                  The differential features do not have a large influence on the detection of anomalies throughout, and it is thought that the difference between the command and the actual position was negligibly small for tool wear and machining process in most cases.
                  
                  In order to proceed to more detailed analysis, it is necessary to deepen the understanding of the operating principles of processing machines.</p>

          </div>

        </ng-template>
      </li>
    <li ngbNavItem [disabled]="true" class="ms-auto">
      <a ngbNavLink><b>Disabled</b></a>
      <ng-template ngbNavContent>
        <p class="para">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
<div>

</div>
<button type="button" class="btn btn-success" routerLink="/cnclive">Live Implementation</button>
</div>
