<div class="upload">
<ngx-dropzone class="uploadin" (change)="onSelect($event)">
  <div class="col4">
    <i class="fa-solid icon fa-upload"></i>
	<label class="label">Drag and Drop files here</label>
  
  </div>
  
</ngx-dropzone>
<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
</ngx-dropzone-preview>
</div>

<button type="button" class="btn btn-info" (click)="onUpload()">
  
  <b>Upload </b> 
  <i class="fa-solid fa-cloud-arrow-up"></i>
</button>


<iframe src="{{url1}} | safe"></iframe>

<button type="button" class="btn btn-info"><b>Predict </b>
  <i class="fa fa-line-chart" aria-hidden="true"></i>
</button>
